@{
    ViewData["Title"] = "Cadetes";
}

@using SistemaCadeteria.ViewModels;
@model List<CadeteViewModel>;

<h1>Listado de cadetes</h1>

@if ((Model.Count() < 15))
{
    <a asp-controller="Cadete" asp-action="Crear">Contratar</a>
}

@if (Model.Count() == 0)
{
    <p>No hay cadetes</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Nombre del cadete</th>
                <th>Pedidos</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cadete in Model)
            {
                <tr>
                    <td>@cadete.Nombre</td>
                    <td><a href="/Cadete/PedidosAsignados/@cadete.Id">Pedidos</a></td>
                    <td><a href="/Cadete/Editar/@cadete.Id">Editar</a></td>
                    <td>@Html.ActionLink("Eliminar", "Borrar", "Cadete", new
                {id = cadete.Id}, new {onclick = $"return confirm('¿Seguro que desea eliminar este cadete?');"})</td>
                </tr>
            }
        </tbody>
    </table>
}
<br>
<a asp-controller="Home" asp-action="CerrarSesion">Cerrar sesion</a>