@{
    ViewData["Title"] = "Página Principal";
}

@model SistemaCadeteria.Models.Cadeteria;

<div class="text-center">
    <h2 class="display-4">Bienvenido a la página de @Model.NombreCadeteria ᕕ( ᐛ )ᕗ</h2>
</div>

<a asp-controller="Home" asp-action="PedidosPorCliente">Listar pedidos por cliente</a>

<br>

<a asp-controller="Home" asp-action="PedidosPorCadete">Listar pedidos por cadete</a>