@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido al Sistema de Gestión de Cadetería ᕕ( ᐛ )ᕗ</h2>
</div>

<br>

<a asp-controller="Home" asp-action="PedidosPorCliente">Listar pedidos por cliente</a>

<br>

<a asp-controller="Home" asp-action="PedidosPorCadete">Listar pedidos por cadete</a>