@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h2 class="display-4">Bienvenido al Sistema de Gestión de Cadetería ᕕ( ᐛ )ᕗ</h2>
</div>

@model List<String>

<p><b>Usuario actual:</b> @Model[0]</p>
<p><b>Nombre:</b> @Model[1]</p>
<p><b>Rol:</b> @Model[2]</p>

<br>

<a asp-controller="Home" asp-action="PedidosPorCliente">Listar pedidos por cliente</a>

<br>

<a asp-controller="Home" asp-action="PedidosPorCadete">Listar pedidos por cadete</a>

<br>
<a asp-controller="Cadete" asp-action="CadeteNombre">Pedidos del cadete</a>

<br>
<a asp-controller="Home" asp-action="CerrarSesion">Cerrar sesion</a>