@{
    ViewData["Title"] = "Pedidos por cliente";
}

@using System.Data;
@model System.Data.DataTable;

<h1>Listado de pedidos por cliente</h1>
@if (Model != null)
{
    if (Model.Rows.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    @foreach (DataColumn columna in Model.Columns)
                    {
                        <th>@columna.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow fila in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn columna in Model.Columns)
                        {
                            <td>@(fila[columna])</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No hay pedidos</p>
    }
}