@{
    ViewData["Title"] = "Crear Pedido";
}

<a asp-controller="Pedido" asp-action="Index">Cancelar</a>

@model SistemaCadeteria.ViewModels.CrearPedidoViewModel

<section>
    <h2>Tomar pedido</h2>
    <form method="post">

        <label asp-for="@Model.NombreCliente"></label>
        <input asp-for="@Model.NombreCliente">
        <br>

        <label asp-for="@Model.Observaciones"></label>
        <input asp-for="@Model.Observaciones">
        <br>

        <button>Ingresar</button>
    </form>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
<br>
<a asp-controller="Home" asp-action="CerrarSesion">Cerrar sesion</a>