@{
    ViewData["Title"] = "Creación de cadete";
}

@Html.ActionLink("Cancelar", "Index", "Inicio")

@using (Html.BeginForm("CrearCadete", "Inicio"))
{
    <label for="name">
        Nombre completo: <input type="text" name="name" id="name">
    </label>
    <label for="adress">
        Dirección: <input type="text" name="adress" id="adress">
    </label>
    <label for="phone">
        Teléfono: <input type="text" name="phone" id="phone">
    </label>
    <input type="submit" , value="Crear">
}

@model SistemaCadeteria.Models.Cadete

<form method="post">
    <input asp-for="@Model.Nombre"><br>
    <input asp-for="@Model.Direccion"><br>
    <input asp-for="@Model.Telefono"><br>
</form>